.Pokedex {
  text-align: center;
}

.Pokedex-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Pokedex-winner {
  color: green;
}
.Pokedex-loser {
  color: red;
}
